/* Modifier for User List
.styled-list--users li{
    transition: none;
    border: none;
    border-top: 1px solid var(--divider-color);
}
.styled-list--users li .user-name {
    font-weight: bold;
    color: var(--primary-color);
}

.styled-list--users li .user-email {
    font-style: italic;
    color: var(--label-color);
}

.styled-list--users li .user-role {
    font-size: 0.9rem;
    color: var(--label-color);
} */
.user-form{
    width: 100%;
}
/* Modal Styles */
.modal {
    /* display: none; Hidden by default */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4); /* Black with opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    border-radius: 10px;
}

.hidden {
    display: none !important;
}

.close-modal {
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}
